.mobileView {
  display: flex;
  position: absolute;
  border-radius: 10px;
  left: 3px;
  z-index: 1111111;
  margin-top: 78px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 40vw;
  max-height: 55vh;
  background-color: #171f2f;
}

@media screen and (max-width: 1000px) {
  .LeftSide2 {
    display: none;
  }
}
